@{
    ViewData["Title"] = "Login";
}
<form method="post">
    <label>ИНН:</label><br />
    <input type="text" name="Inn" /><br /><br />
    <label>ФИО:</label><br />
    <input type="text" name="fullName" /><br /><br />
    <input type="hidden" value="@ViewData["clientInn"]" name="clientInn" />
    <input type="submit" value="Отправить" />
</form>