@model test_task.Models.Client
 
<head>
    <title>Добавление клиента</title>
</head>

<h2>Добавление клиента</h2>
 
<form asp-action="AddClient" asp-controller="Home"  asp-antiforgery="true">
    <div>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div style="margin-top: 20px">
            <label asp-for="Inn">ИНН</label>
            <input type="number" asp-for="Inn"/>
            <span asp-validation-for="Inn"></span>
        </div>
        <div style="margin-top: 20px">
            <label asp-for="Name">Имя</label>
            <input type="text" asp-for="Name"/>
            <span asp-validation-for="Name"></span>
        </div>
        <div style="margin-top: 20px">
            <label asp-for="BusinessType">Тип</label>
            <select name="BusinessType" asp-items="Html.GetEnumSelectList<ClientType>()"></select>
        </div>
        <div style="margin-top: 20px">
            <input type="submit" class="btn btn-outline-dark" value="Save"/>
        </div>
    </div>
</form>