@model test_task.Models.Client
<head>
    <title>Изменение пользователя</title>
</head>
<h2>Изменение клиента</h2>

<form asp-action="EditClient" asp-controller="Home"  asp-antiforgery="true">
    <div>
        @Html.HiddenFor(m=> m.Inn)
        <div style="margin-top: 20px">
            <label asp-for="Name">Имя</label>
            <input type="text" asp-for="Name"/>
        </div>
        <div style="margin-top: 20px">
            <label asp-for="BusinessType">Тип</label>
            <select asp-for="BusinessType" asp-items="Html.GetEnumSelectList<ClientType>()"></select>
        </div>
        <div style="margin-top: 20px">
             <input type="submit" class="btn btn-outline-dark" value="Save"/>
        </div>
    </div>
</form>