@model test_task.Models.Сonstitutor

<h2>Изменение учредителя</h2>

<form asp-action="EditСonstitutor" asp-controller="Home"  asp-antiforgery="true">
    <div>
        @Html.HiddenFor(m=> m.Inn)
        @Html.HiddenFor(m=> m.ClientInn)
        <div style="margin-top: 20px">
            <label asp-for="FullName">ФИО</label>
            <input type="text" asp-for="FullName"/>
        </div>
        <div style="margin-top: 20px">
             <input type="submit" class="btn btn-outline-dark" value="Save"/>
        </div>
    </div>
</form>