<head>
    <title>Клиент</title>
</head>


<html>
<head>
    <title>title</title>
</head>
<body>
<table class="table-info">
    <tr>
        <td>Текст ошибки</td>
    </tr>
    <tr>
        <td>@ViewData["message"]</td>
    </tr>
</table>
<a href='javascript:history.go(-1)'>Вернуться на предыдущую страницу</a>
</body>
</html>