@model List<test_task.Models.Client>
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
 
<html>
<head>
    <title>Тестовое задание</title>
</head>
<body>
<h3>Клиенты</h3>
<table>
    <tr>
        <td>ИНН</td>
        <td>Имя</td>
        <td>Тип</td>
        <td>Дата добавления</td>
        <td>Дата обновления</td>
        <td></td>
    </tr>
    @foreach (var client in Model)
    {
        <tr>
            <td>@client.Inn.ToString()</td>
            <td>@client.Name</td>

        </tr>
    }
</table>
</body>
</html>